.cardContainer {
    margin: 1rem 0;
    background-color: #000000;
    box-shadow: 0 0 5px #000000;
    border-radius: .6rem;
    width: min-content;
    padding: .5rem 1.5rem;
}

.skill {
    font-size: 1.1rem;
    font-weight: 600;
    color: #ffffff;
}