.firstContent {
    padding-top: 10rem;
    background: linear-gradient(#000000, #131313);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    color: #ffffff;
}

.headingTitle {
    font-size: 4.5rem;
    font-weight: bold;
}

.headingTitle::after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #8C52FF;
    margin-left: 5px;
}

.headingSubtitle {
    font-size: 1.6rem;
    padding: 2rem 1rem 5rem;
}

.purpleText {
    color: #8C52FF;
}

.btn {
    padding: 1rem 4rem;
    background-color: transparent;
    border-radius: .5rem;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    transition: background-color 0.5s, border-color .5s;
}

.btn:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #8C52FF, #5500ff);
    border-color: #8C52FF;
}

.arrow {
    padding-top: 10rem;
    font-size: 2rem;
    animation: arrowDown 2s infinite;
}

@keyframes arrowDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@media (max-width: 1120px) {
    .headingTitle {
        font-size: 3rem;
    }

    .headingSubtitle {
        font-size: 1rem;
    }
}

@media (max-width: 750px) {
    .headingTitle {
        font-size: 2rem;
    }

    .headingSubtitle {
        font-size: 1rem;
    }
}