.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    background-color: #000000;
}

.logoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 10rem;
    height: 2.5rem;
    object-fit: cover;
    background-color: #000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.navLink {
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.navLink::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #8C52FF;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.navLink:hover::after {
    transform: scaleX(1);
}