@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Mulish:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.firstContent {
    background: linear-gradient(#f7f7f7d5, #f5f5f5c4), url("../assets/homeBg.svg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
}

.heading-title {
    font-size: 4.5rem;
    font-weight: bold;
}

.heading-subtitle {
    font-size: 1.6rem;
    padding: 2rem 1rem;
}

.arrow {
    margin-top: 5rem;
    width: 2rem;
    animation: arrowDown 2s infinite;
}

@keyframes arrowDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.aboutSection {
    padding-bottom: 7rem;
    background-color: #f7f7f7d5;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutTitle {
    font-size: 3.5rem;
    font-weight: 600;
    padding: 7rem 0;
}

.nameInfo {
    font-size: 3rem;
}

.aboutInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.InfoItems {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1.1rem;
    list-style: none;
    font-weight: 600;
    text-align: left;
}

.aboutIcon {
    font-size: 1.2rem;
    padding-right: .5rem;
}

.secondContentabout {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.skillsTitle {
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: 600;
}