.container {
    padding: 5rem;
    background-color: #131313;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutTitle {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    padding: 0rem 0 5rem;
    color: #ffffff;
}

.nameInfo {
    color: #9b9b9b;
    font-size: 3rem;
    font-weight: 600;
}

.nameInfo span {
    color: #8C52FF;
}

.aboutInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    color: #fff;
}

.InfoItems {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1.1rem;
    list-style: none;
    font-weight: 600;
    text-align: left;
}

.aboutIcon {
    color: #8b8b8b;
    font-size: 1.4rem;
    padding-right: .5rem;
}

.secondContentabout {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.skillsTitle {
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: 600;
    color: #8C52FF;
}

.skillsContent {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.icon {
    cursor: pointer;
    color: #fff;
    font-size: 4rem;
    transition: .5s;
}

.icon1:hover {
    color: #61DAFB;
}

.icon2:hover {
    color: #E34F26;
}

.icon3:hover {
    color: #1572B6;
}

.icon4:hover {
    color: #F7DF1E;
}

.icon5:hover {
    color: #4479A1;
}

.icon6:hover {
    color: #F05032;
}

.icon7:hover {
    color: #8400ff;
}

.icon8:hover {
    color: #CC6699;
}

.icon9:hover {
    color: #007396;
}

.icon10:hover {
    color: #7952B3;
}

@media (max-width: 1140px) {
    .nameInfo {
        font-size: 2rem;
    }
}

@media (max-width: 1040px) {
    .aboutInfo {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nameInfo {
        font-size: 3rem;
    }

    .secondContentabout {
        text-align: center;
    }
}

@media (max-width: 485px) {
    .aboutTitle {
        font-size: 3rem;
    }
}